##### Composer
composer.phar
/vendor/

##### NetBeans
**/nbproject/private/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbproject/

##### Notepad++
# Notepad++ backups #
*.bak

# WebStorm IDE
.idea/

# Mac OS X
.DS_Store

# Vs code
.vscode/